{% load static %}
<!-- Page Sidebar Start-->
<div class="sidebar-wrapper" data-layout="stroke-svg">
    <div class="logo-wrapper">
      <div class="back-btn"><i class="fa fa-angle-left"> </i></div>
      <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
    </div>
    <div class="logo-icon-wrapper"></div>
    <nav class="sidebar-main">
      <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
      <div id="sidebar-menu">
        <ul class="sidebar-links" id="simple-bar">
          <li class="back-btn"></a>
            <div class="mobile-back text-end"> <span>Back </span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
          </li>
          <li class="pin-title sidebar-main-title">
            <div> 
              <h6>Pinned</h6>
            </div>
          </li>
          <li class="sidebar-main-title">
            <div>
              <h6></h6>
            </div>
          </li>
          <li class="sidebar-list"><i class="fa fa-thumb-tack"> </i><a class="sidebar-link sidebar-title" href="#">
              <svg class="stroke-icon">
                <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
              </svg>
              <svg class="fill-icon">
                <use href="../assets/svg/icon-sprite.svg#fill-home"></use>
              </svg><span>Master</span></a>
            <ul class="sidebar-submenu">
              <li><a href="{% url 'accessrole' %}">Access Role</a></li>
              <li><a href="{% url 'assignrole' %}">Assign Role</a></li>
              <li><a href="{% url 'location' %}">Location</a></li>   
              <li><a href="{% url 'user' %}">User</a></li>
                        
            </ul>
          </li>

          
          <li class="sidebar-list"><i class="fa fa-thumb-tack"> </i><a class="sidebar-link sidebar-title" href="#">
              <svg class="stroke-icon">
                <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
              </svg>
              <svg class="fill-icon">
                <use href="../assets/svg/icon-sprite.svg#fill-home"></use>
              </svg><span>Shipping Label</span></a>
            <ul class="sidebar-submenu">
              <li><a href="{% url 'barcode' %}">Upload Shipping Label</a></li>
              <li><a href="{% url 'download_pdf' %}">Download Shipping Label</a></li>
              <li><a href="{% url 'exception' %}">All Exceptions</a></li>              
            </ul>
          </li>
          
          
        
          
        
          
         
        
          
        </ul>
        <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
      </div>
    </nav>
  </div>
  <!-- Page Sidebar Ends-->